In [1]:
#pip install beautifulsoup4
from bs4 import BeautifulSoup
from urllib.request import urlopen
import re # regular expression
from datetime import datetime
import pandas as pd 
import os
import time
cwd = os.getcwd(); print(cwd)

c:\Users\justi\Documents\GitHub\Thread-620\src

### Resources
[Python - BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/#getting-help)

## Summary of Commentary on Current Economic Conditions by Federal Reserve District
### Data sources
- [Federal Reserve - Board Archive](https://www.federalreserve.gov/monetarypolicy/beige-book-archive.htm)
- Archive from the [Federal Reserve Bank of Minneapolis](https://www.minneapolisfed.org/region-and-community/regional-economic-indicators/beige-book-archive)  
    - Archive [List - National Summary](https://www.minneapolisfed.org/region-and-community/regional-economic-indicators/beige-book-archive)

## Database split
Depending on how the format has changed over the years
* 1970 May - 1980 August: No format

# (1) 1970 May - 1980 August

## Start with National Summary

In [68]:
%run dev_functions.py # last error 1980-09

las
1980-07-01 dallas
1980-08-05 dallas
1980-09-09 dallas
1980-10-14 dallas
1980-11-12 dallas
1980-12-10 dallas
1981-01-28 dallas
1981-03-25 dallas
1981-05-13 dallas
1981-06-30 dallas
1981-08-11 dallas
1981-09-30 dallas
1981-11-10 dallas
1981-12-16 dallas
1982-01-27 dallas
1982-03-23 dallas
1982-05-12 dallas
1982-06-23 dallas
1982-08-18 dallas
1982-09-29 dallas
1982-11-16 dallas
1982-12-15 dallas
1983-02-02 dallas
1983-03-23 dallas
1983-05-18 dallas
1983-07-01 dallas
1983-08-10 dallas
1983-09-20 dallas
1983-11-02 dallas
1983-12-06 dallas
1984-01-20 dallas
1984-03-13 dallas
1984-05-08 dallas
1984-06-25 dallas
1984-08-06 dallas
1984-09-16 dallas
1984-10-23 dallas
1984-12-05 dallas
1985-01-30 dallas
1985-03-12 dallas
1985-05-06 dallas
1985-06-25 dallas
1985-08-06 dallas
1985-09-16 dallas
1985-10-23 dallas
1985-12-05 dallas
1986-01-28 dallas
1986-03-20 dallas
1986-05-06 dallas
1986-06-24 dallas
1986-08-05 dallas
1986-09-10 dallas
1986-10-23 dallas
1986-12-01 dallas
1987-01-28 dallas
1987-03-16 dallas
1987-05-04 dallas
1987-06-23 dallas
1987-08-03 dallas
1987-09-08 dallas
1987-10-27 dallas
1987-12-01 dallas
1988-01-27 dallas
1988-03-15 dallas
1988-05-04 dallas
1988-06-15 dallas
1988-08-02 dallas
1988-09-06 dallas
1988-10-18 dallas
1988-11-30 dallas
1989-01-25 dallas
1989-03-15 dallas
1989-05-03 dallas
1989-06-21 dallas
1989-08-09 dallas
1989-09-20 dallas
1989-11-01 dallas
1989-12-06 dallas
1990-01-24 dallas
1990-03-14 dallas
1990-05-02 dallas
1990-06-20 dallas
1990-08-08 dallas
1990-09-19 dallas
1990-10-31 dallas
1990-12-05 dallas
1991-01-23 dallas
1991-03-13 dallas
1991-05-01 dallas
1991-06-19 dallas
1991-08-07 dallas
1991-09-18 dallas
1991-10-23 dallas
1991-12-04 dallas
1992-01-22 dallas
1992-03-18 dallas
1992-05-06 dallas
1992-06-17 dallas
1992-08-05 dallas
1992-09-23 dallas
1992-11-04 dallas
1992-12-09 dallas
1993-01-21 dallas
1993-03-10 dallas
1993-05-05 dallas
1993-06-23 dallas
1993-08-04 dallas
1993-09-08 dallas
1993-11-03 dallas
1993-12-08 dallas
1994-01-19 dallas
1994-03-09 dallas
1994-05-04 dallas
1994-06-22 dallas
1994-08-03 dallas
1994-09-14 dallas
1994-11-02 dallas
1994-12-07 dallas
1995-01-18 dallas
1995-03-15 dallas
1995-05-10 dallas
1995-06-21 dallas
1995-08-09 dallas
1995-09-13 dallas
1995-11-01 dallas
1995-12-06 dallas
1996-01-17 dallas
1996-03-13 dallas
1996-05-08 dallas
1996-06-19 dallas
1996-08-07 dallas
1996-09-11 dallas
1996-10-30 dallas
1996-12-04 dallas
1997-01-22 dallas
1997-03-12 dallas
1997-05-07 dallas
1997-06-18 dallas
1997-08-08 dallas
1997-09-17 dallas
1997-10-29 dallas
1997-12-03 dallas
1998-01-21 dallas
1998-03-18 dallas
1998-05-06 dallas
1998-06-17 dallas
1998-08-05 dallas
1998-09-16 dallas
1998-11-04 dallas
1998-12-09 dallas
1999-01-20 dallas
1999-03-17 dallas
1999-05-05 dallas
1999-06-16 dallas
1999-08-11 dallas
1999-09-22 dallas
1999-11-03 dallas
1999-12-08 dallas
2000-01-19 dallas
2000-03-08 dallas
2000-05-03 dallas
2000-06-14 dallas
2000-08-09 dallas
2000-09-20 dallas
2000-11-01 dallas
2000-12-06 dallas
2001-01-17 dallas
2001-03-07 dallas
2001-05-02 dallas
2001-06-13 dallas
2001-08-08 dallas
2001-09-19 dallas
2001-10-24 dallas
2001-11-28 dallas
2002-01-16 dallas
2002-03-06 dallas
2002-04-24 dallas
2002-06-12 dallas
2002-07-31 dallas
2002-09-11 dallas
2002-10-23 dallas
2002-11-27 dallas
2003-01-15 dallas
2003-03-05 dallas
2003-04-23 dallas
2003-06-11 dallas
2003-07-30 dallas
2003-09-03 dallas
2003-10-15 dallas
2003-11-26 dallas
2004-01-14 dallas
2004-03-03 dallas
2004-04-21 dallas
2004-06-16 dallas
2004-07-28 dallas
2004-09-08 dallas
2004-10-27 dallas
2004-12-01 dallas
2005-01-19 dallas
2005-03-09 dallas
2005-04-20 dallas
2005-06-15 dallas
2005-07-27 dallas
2005-09-07 dallas
2005-10-19 dallas
2005-11-30 dallas
2006-01-18 dallas
2006-03-15 dallas
2006-04-26 dallas
2006-06-14 dallas
2006-07-26 dallas
2006-09-06 dallas
2006-10-12 dallas
2006-11-29 dallas
2007-01-17 dallas
2007-03-07 dallas
2007-04-25 dallas
2007-06-13 dallas
2007-07-25 dallas
2007-09-05 dallas
2007-10-17 dallas
2007-11-28 dallas
2008-01-16 dallas
2008-03-05 dallas
2008-04-16 dallas
2008-06-11 dallas
2008-07-23 dallas
2008-09-03 dallas
2008-10-15 dallas
2008-12-03 dallas
2009-01-14 dallas
2009-03-04 dallas
2009-04-15 dallas
2009-06-10 dallas
2009-07-29 dallas
2009-09-09 dallas
2009-10-21 dallas
2009-12-02 dallas
2010-01-13 dallas
2010-03-03 dallas
2010-04-14 dallas
2010-06-09 dallas
2010-07-28 dallas
2010-09-08 dallas
2010-10-20 dallas
2010-12-01 dallas
2011-01-12 dallas
2011-03-02 dallas
2011-04-13 dallas
2011-06-08 dallas
2011-07-27 dallas
2011-09-07 dallas
2011-10-19 dallas
2011-11-30 dallas
2012-01-11 dallas
2012-02-29 dallas
2012-04-11 dallas
2012-06-06 dallas
2012-07-18 dallas
2012-08-29 dallas
2012-10-10 dallas
2012-11-28 dallas
2013-01-16 dallas
2013-03-06 dallas
2013-04-17 dallas
2013-06-05 dallas
2013-07-17 dallas
2013-09-04 dallas
2013-10-16 dallas
2013-12-04 dallas
2014-01-15 dallas
2014-03-05 dallas
2014-04-16 dallas
2014-06-04 dallas
2014-07-16 dallas
2014-09-03 dallas
2014-10-15 dallas
2014-12-03 dallas
2015-01-14 dallas
2015-03-04 dallas
2015-04-15 dallas
2015-06-03 dallas
2015-07-15 dallas
2015-09-02 dallas
2015-10-14 dallas
2015-12-02 dallas
2016-01-13 dallas
2016-03-02 dallas
1970-05-20 kansas city
1970-06-17 kansas city
1970-07-15 kansas city
1970-08-12 kansas city
1970-09-09 kansas city
1970-10-14 kansas city
1970-11-11 kansas city
1970-12-09 kansas city
1971-01-12 kansas city
1971-02-03 kansas city
1971-03-09 kansas city
1971-04-06 kansas city
1971-05-05 kansas city
1971-06-23 kansas city
1971-07-21 kansas city
1971-08-18 kansas city
1971-09-15 kansas city
1971-10-13 kansas city
1971-11-10 kansas city
1971-12-08 kansas city
1972-02-09 kansas city
1972-03-15 kansas city
1972-04-12 kansas city
1972-05-17 kansas city
1972-06-14 kansas city
1972-07-18 kansas city
1972-08-09 kansas city
1972-09-13 kansas city
1972-10-11 kansas city
1972-11-14 kansas city
1972-12-19 kansas city
1973-01-10 kansas city
1973-02-07 kansas city
1973-03-14 kansas city
1973-04-11 kansas city
1973-05-09 kansas city
1973-06-13 kansas city
1973-07-11 kansas city
1973-08-10 kansas city
1973-09-12 kansas city
1973-10-10 kansas city
1973-11-14 kansas city
1973-12-12 kansas city
1974-01-16 kansas city
1974-02-13 kansas city
1974-03-13 kansas city
1974-04-10 kansas city
1974-05-15 kansas city
1974-06-12 kansas city
1974-07-10 kansas city
1974-08-14 kansas city
1974-09-05 kansas city
1974-10-09 kansas city
1974-11-13 kansas city
1974-12-11 kansas city
1975-01-15 kansas city
1975-02-12 kansas city
1975-03-12 kansas city
1975-04-09 kansas city
1975-05-14 kansas city
1975-06-11 kansas city
1975-07-09 kansas city
1975-08-13 kansas city
1975-09-10 kansas city
1975-10-21 kansas city
1975-11-12 kansas city
1975-12-10 kansas city
1976-01-14 kansas city
1976-02-11 kansas city
1976-03-10 kansas city
1976-04-14 kansas city
1976-05-12 kansas city
1976-06-16 kansas city
1976-07-14 kansas city
1976-08-11 kansas city
1976-09-15 kansas city
1976-10-13 kansas city
1976-11-10 kansas city
1976-12-15 kansas city
1977-01-13 kansas city
1977-02-09 kansas city
1977-03-09 kansas city
1977-04-12 kansas city
1977-05-10 kansas city
1977-06-15 kansas city
1977-07-13 kansas city
1977-08-10 kansas city
1977-09-14 kansas city
1977-10-11 kansas city
1977-11-09 kansas city
1977-12-14 kansas city
1978-01-11 kansas city
1978-02-21 kansas city
1978-03-15 kansas city
1978-04-12 kansas city
1978-05-10 kansas city
1978-06-14 kansas city
1978-07-12 kansas city
1978-08-09 kansas city
1978-09-13 kansas city
1978-10-11 kansas city
1978-11-15 kansas city
1978-12-13 kansas city
1979-01-31 kansas city
1979-03-14 kansas city
1979-04-11 kansas city
1979-05-16 kansas city
1979-07-05 kansas city
1979-08-07 kansas city
1979-09-12 kansas city
1979-10-10 kansas city
1979-11-14 kansas city
1980-01-02 kansas city
1980-03-11 kansas city
1980-04-15 kansas city
1980-05-14 kansas city
1980-07-01 kansas city
1980-08-05 kansas city
1980-09-09 kansas city
1980-10-14 kansas city
1980-11-12 kansas city
1980-12-10 kansas city
1981-01-28 kansas city
1981-03-25 kansas city
1981-05-13 kansas city
1981-06-30 kansas city
1981-08-11 kansas city
1981-09-30 kansas city
1981-11-10 kansas city
1981-12-16 kansas city
1982-01-27 kansas city
1982-03-23 kansas city
1982-05-12 kansas city
1982-06-23 kansas city
1982-08-18 kansas city
1982-09-29 kansas city
1982-11-16 kansas city
1982-12-15 kansas city
1983-02-02 kansas city
1983-03-23 kansas city
1983-05-18 kansas city
1983-07-01 kansas city
1983-08-10 kansas city
1983-09-20 kansas city
1983-11-02 kansas city
1983-12-06 kansas city
1984-01-20 kansas city
1984-03-13 kansas city
1984-05-08 kansas city
1984-06-25 kansas city
1984-08-06 kansas city
1984-09-16 kansas city
1984-10-23 kansas city
1984-12-05 kansas city
1985-01-30 kansas city
1985-03-12 kansas city
1985-05-06 kansas city
1985-06-25 kansas city
1985-08-06 kansas city
1985-09-16 kansas city
1985-10-23 kansas city
1985-12-05 kansas city
1986-01-28 kansas city
1986-03-20 kansas city
1986-05-06 kansas city
1986-06-24 kansas city
1986-08-05 kansas city
1986-09-10 kansas city
1986-10-23 kansas city
1986-12-01 kansas city
1987-01-28 kansas city
1987-03-16 kansas city
1987-05-04 kansas city
1987-06-23 kansas city
1987-08-03 kansas city
1987-09-08 kansas city
1987-10-27 kansas city
1987-12-01 kansas city
1988-01-27 kansas city
1988-03-15 kansas city
1988-05-04 kansas city
1988-06-15 kansas city
1988-08-02 kansas city
1988-09-06 kansas city
1988-10-18 kansas city
1988-11-30 kansas city
1989-01-25 kansas city
1989-03-15 kansas city
1989-05-03 kansas city
1989-06-21 kansas city
1989-08-09 kansas city
1989-09-20 kansas city
1989-11-01 kansas city
1989-12-06 kansas city
1990-01-24 kansas city
1990-03-14 kansas city
1990-05-02 kansas city
1990-06-20 kansas city
1990-08-08 kansas city
1990-09-19 kansas city
1990-10-31 kansas city
1990-12-05 kansas city
1991-01-23 kansas city
1991-03-13 kansas city
1991-05-01 kansas city
1991-06-19 kansas city
1991-08-07 kansas city
1991-09-18 kansas city
1991-10-23 kansas city
1991-12-04 kansas city
1992-01-22 kansas city
1992-03-18 kansas city
1992-05-06 kansas city
1992-06-17 kansas city
1992-08-05 kansas city
1992-09-23 kansas city
1992-11-04 kansas city
1992-12-09 kansas city
1993-01-21 kansas city
1993-03-10 kansas city
1993-05-05 kansas city
1993-06-23 kansas city
1993-08-04 kansas city
1993-09-08 kansas city
1993-11-03 kansas city
1993-12-08 kansas city
1994-01-19 kansas city
1994-03-09 kansas city
1994-05-04 kansas city
1994-06-22 kansas city
1994-08-03 kansas city
1994-09-14 kansas city
1994-11-02 kansas city
1994-12-07 kansas city
1995-01-18 kansas city
1995-03-15 kansas city
1995-05-10 kansas city
1995-06-21 kansas city
1995-08-09 kansas city
1995-09-13 kansas city
1995-11-01 kansas city
1995-12-06 kansas city
1996-01-17 kansas city
1996-03-13 kansas city
1996-05-08 kansas city
1996-06-19 kansas city
1996-08-07 kansas city
1996-09-11 kansas city
1996-10-30 kansas city
1996-12-04 kansas city
1997-01-22 kansas city
1997-03-12 kansas city
1997-05-07 kansas city
1997-06-18 kansas city
1997-08-06 kansas city
1997-09-17 kansas city
1997-10-29 kansas city
1997-12-03 kansas city
1998-01-21 kansas city
1998-03-18 kansas city
1998-05-06 kansas city
1998-06-17 kansas city
1998-08-05 kansas city
1998-09-16 kansas city
1998-11-04 kansas city
1998-12-09 kansas city
1999-01-20 kansas city
1999-03-17 kansas city
1999-05-05 kansas city
1999-06-16 kansas city
1999-08-11 kansas city
1999-09-22 kansas city
1999-11-03 kansas city
1999-12-08 kansas city
2000-01-19 kansas city
2000-03-08 kansas city
2000-05-03 kansas city
2000-06-14 kansas city
2000-08-09 kansas city
2000-09-20 kansas city
2000-11-01 kansas city
2000-12-06 kansas city
2001-01-17 kansas city
2001-03-07 kansas city
2001-05-02 kansas city
2001-06-13 kansas city
2001-08-08 kansas city
2001-09-19 kansas city
2001-10-24 kansas city
2001-11-28 kansas city
2002-01-16 kansas city
2002-03-06 kansas city
2002-04-24 kansas city
2002-06-12 kansas city
2002-07-31 kansas city
2002-09-11 kansas city
2002-10-23 kansas city
2002-11-27 kansas city
2003-01-15 kansas city
2003-03-05 kansas city
2003-04-23 kansas city
2003-06-11 kansas city
2003-07-30 kansas city
2003-09-03 kansas city
2003-10-15 kansas city
2003-11-26 kansas city
2004-01-14 kansas city
2004-03-03 kansas city
2004-04-21 kansas city
2004-06-16 kansas city
2004-07-28 kansas city
2004-09-08 kansas city
2004-10-27 kansas city
2004-12-01 kansas city
2005-01-19 kansas city
2005-03-09 kansas city
2005-04-20 kansas city
2005-06-15 kansas city
2005-07-27 kansas city
2005-09-07 kansas city
2005-10-19 kansas city
2005-11-30 kansas city
2006-01-18 kansas city
2006-03-15 kansas city
2006-04-26 kansas city
2006-06-14 kansas city
2006-07-26 kansas city
2006-09-06 kansas city
2006-10-12 kansas city
2006-11-29 kansas city
2007-01-17 kansas city
2007-03-07 kansas city
2007-04-25 kansas city
2007-06-13 kansas city
2007-07-25 kansas city
2007-09-05 kansas city
2007-10-17 kansas city
2007-11-28 kansas city
2008-01-16 kansas city
2008-03-05 kansas city
2008-04-16 kansas city
2008-06-11 kansas city
2008-07-23 kansas city
2008-09-03 kansas city
2008-10-15 kansas city
2008-12-03 kansas city
2009-01-14 kansas city
2009-03-04 kansas city
2009-04-15 kansas city
2009-06-10 kansas city
2009-07-29 kansas city
2009-09-09 kansas city
2009-10-21 kansas city
2009-12-02 kansas city
2010-01-13 kansas city
2010-03-03 kansas city
2010-04-14 kansas city
2010-06-09 kansas city
2010-07-28 kansas city
2010-09-08 kansas city
2010-10-20 kansas city
2010-12-01 kansas city
2011-01-12 kansas city
2011-03-02 kansas city
2011-04-13 kansas city
2011-06-08 kansas city
2011-07-27 kansas city
2011-09-07 kansas city
2011-10-19 kansas city
2011-11-30 kansas city
2012-01-11 kansas city
2012-02-29 kansas city
2012-04-11 kansas city
2012-06-06 kansas city
2012-07-18 kansas city
2012-08-29 kansas city
2012-10-10 kansas city
2012-11-28 kansas city
2013-01-16 kansas city
2013-03-06 kansas city
2013-04-17 kansas city
2013-06-05 kansas city
2013-07-17 kansas city
2013-09-04 kansas city
2013-10-16 kansas city
2013-12-04 kansas city
2014-01-15 kansas city
2014-03-05 kansas city
2014-04-16 kansas city
2014-06-04 kansas city
2014-07-16 kansas city
2014-09-03 kansas city
2014-10-15 kansas city
2014-12-03 kansas city
2015-01-14 kansas city
2015-03-04 kansas city
2015-04-15 kansas city
2015-06-03 kansas city
2015-07-15 kansas city
2015-09-02 kansas city
2015-10-14 kansas city
2015-12-02 kansas city
2016-01-13 kansas city
2016-03-02 kansas city
1970-05-20 minneapolis
1970-06-17 minneapolis
1970-07-15 minneapolis
1970-08-12 minneapolis
1970-09-09 minneapolis
1970-10-14 minneapolis
1970-11-11 minneapolis
1970-12-09 minneapolis
1971-01-12 minneapolis
1971-02-03 minneapolis
1971-03-09 minneapolis
1971-04-06 minneapolis
1971-05-05 minneapolis
1971-06-23 minneapolis
1971-07-21 minneapolis
1971-08-18 minneapolis
1971-09-15 minneapolis
1971-10-13 minneapolis
1971-11-10 minneapolis
1971-12-08 minneapolis
1972-02-09 minneapolis
1972-03-15 minneapolis
1972-04-12 minneapolis
1972-05-17 minneapolis
1972-06-14 minneapolis
1972-07-18 minneapolis
1972-08-09 minneapolis
1972-09-13 minneapolis
1972-10-11 minneapolis
1972-11-14 minneapolis
1972-12-19 minneapolis
1973-01-10 minneapolis
1973-02-07 minneapolis
1973-03-14 minneapolis
1973-04-11 minneapolis
1973-05-09 minneapolis
1973-06-13 minneapolis
1973-07-11 minneapolis
1973-08-10 minneapolis
1973-09-12 minneapolis
1973-10-10 minneapolis
1973-11-14 minneapolis
1973-12-12 minneapolis
1974-01-16 minneapolis
1974-02-13 minneapolis
1974-03-13 minneapolis
1974-04-10 minneapolis
1974-05-15 minneapolis
1974-06-12 minneapolis
1974-07-10 minneapolis
1974-08-14 minneapolis
1974-09-05 minneapolis
1974-10-09 minneapolis
1974-11-13 minneapolis
1974-12-11 minneapolis
1975-01-15 minneapolis
1975-02-12 minneapolis
1975-03-12 minneapolis
1975-04-09 minneapolis
1975-05-14 minneapolis
1975-06-11 minneapolis
1975-07-09 minneapolis
1975-08-13 minneapolis
1975-09-10 minneapolis
1975-10-21 minneapolis
1975-11-12 minneapolis
1975-12-10 minneapolis
1976-01-14 minneapolis
1976-02-11 minneapolis
1976-03-10 minneapolis
1976-04-14 minneapolis
1976-05-12 minneapolis
1976-06-16 minneapolis
1976-07-14 minneapolis
1976-08-11 minneapolis
1976-09-15 minneapolis
1976-10-13 minneapolis
1976-11-10 minneapolis
1976-12-15 minneapolis
1977-01-13 minneapolis
1977-02-09 minneapolis
1977-03-09 minneapolis
1977-04-12 minneapolis
1977-05-10 minneapolis
1977-06-15 minneapolis
1977-07-13 minneapolis
1977-08-10 minneapolis
1977-09-14 minneapolis
1977-10-11 minneapolis
1977-11-09 minneapolis
1977-12-14 minneapolis
1978-01-11 minneapolis
1978-02-21 minneapolis
1978-03-15 minneapolis
1978-04-12 minneapolis
1978-05-10 minneapolis
1978-06-14 minneapolis
1978-07-12 minneapolis
1978-08-09 minneapolis
1978-09-13 minneapolis
1978-10-11 minneapolis
1978-11-15 minneapolis
1978-12-13 minneapolis
1979-01-31 minneapolis
1979-03-14 minneapolis
1979-04-11 minneapolis
1979-05-16 minneapolis
1979-07-05 minneapolis
1979-08-07 minneapolis
1979-09-12 minneapolis
1979-10-10 minneapolis
1979-11-14 minneapolis
1980-01-29 minneapolis
1980-03-11 minneapolis
1980-04-15 minneapolis
1980-05-14 minneapolis
1980-07-01 minneapolis
1980-08-05 minneapolis
1980-09-09 minneapolis
1980-10-14 minneapolis
1980-11-12 minneapolis
1980-12-10 minneapolis
1981-01-28 minneapolis
1981-03-25 minneapolis
1981-05-13 minneapolis
1981-06-30 minneapolis
1981-08-11 minneapolis
1981-09-30 minneapolis
1981-11-10 minneapolis
1981-12-16 minneapolis
1982-01-27 minneapolis
1982-03-23 minneapolis
1982-05-12 minneapolis
1982-06-23 minneapolis
1982-08-18 minneapolis
1982-09-29 minneapolis
1982-11-16 minneapolis
1982-12-15 minneapolis
1983-02-02 minneapolis
1983-03-23 minneapolis
1983-05-18 minneapolis
1983-07-01 minneapolis
1983-08-10 minneapolis
1983-09-20 minneapolis
1983-11-02 minneapolis
1983-12-06 minneapolis
1984-01-20 minneapolis
1984-03-13 minneapolis
1984-05-08 minneapolis
1984-06-25 minneapolis
1984-08-06 minneapolis
1984-09-16 minneapolis
1984-10-23 minneapolis
1984-12-05 minneapolis
1985-01-30 minneapolis
1985-03-12 minneapolis
1985-05-06 minneapolis
1985-06-25 minneapolis
1985-08-06 minneapolis
1985-09-16 minneapolis
1985-10-23 minneapolis
1985-12-05 minneapolis
1986-01-28 minneapolis
1986-03-20 minneapolis
1986-05-06 minneapolis
1986-06-24 minneapolis
1986-08-05 minneapolis
1986-09-10 minneapolis
1986-10-23 minneapolis
1986-12-01 minneapolis
1987-01-28 minneapolis
1987-03-16 minneapolis
1987-05-04 minneapolis
1987-06-23 minneapolis
1987-08-03 minneapolis
1987-09-08 minneapolis
1987-10-27 minneapolis
1987-12-01 minneapolis
1988-01-27 minneapolis
1988-03-15 minneapolis
1988-05-04 minneapolis
1988-06-15 minneapolis
1988-08-02 minneapolis
1988-09-06 minneapolis
1988-10-18 minneapolis
1988-11-30 minneapolis
1989-01-25 minneapolis
1989-03-15 minneapolis
1989-05-03 minneapolis
1989-06-21 minneapolis
1989-08-09 minneapolis
1989-09-20 minneapolis
1989-11-01 minneapolis
1989-12-06 minneapolis
1990-01-24 minneapolis
1990-03-14 minneapolis
1990-05-02 minneapolis
1990-06-20 minneapolis
1990-08-08 minneapolis
1990-09-19 minneapolis
1990-10-31 minneapolis
1990-12-05 minneapolis
1991-01-23 minneapolis
1991-03-13 minneapolis
1991-05-01 minneapolis
1991-06-19 minneapolis
1991-08-07 minneapolis
1991-09-18 minneapolis
1991-10-23 minneapolis
1991-12-04 minneapolis
1992-01-22 minneapolis
1992-03-18 minneapolis
1992-05-06 minneapolis
1992-06-17 minneapolis
1992-08-05 minneapolis
1992-09-23 minneapolis
1992-11-04 minneapolis
1992-12-09 minneapolis
1993-01-21 minneapolis
1993-03-10 minneapolis
1993-05-05 minneapolis
1993-06-23 minneapolis
1993-08-04 minneapolis
1993-09-08 minneapolis
1993-11-03 minneapolis
1993-12-08 minneapolis
1994-01-19 minneapolis
1994-03-09 minneapolis
1994-05-04 minneapolis
1994-06-22 minneapolis
1994-08-03 minneapolis
1994-09-14 minneapolis
1994-11-02 minneapolis
1994-12-07 minneapolis
1995-01-18 minneapolis
1995-03-15 minneapolis
1995-05-10 minneapolis
1995-06-21 minneapolis
1995-08-09 minneapolis
1995-09-13 minneapolis

AttributeError: 'NoneType' object has no attribute 'get_text'

In [69]:
df_fin#.iloc[3,3]

,time,region,category,text
0,1970-05-20,national,overview,This initial report of economic conditions in ...
1,1970-06-17,national,overview,Comments on economic conditions in the twelve ...
2,1970-07-15,national,overview,"Current comment by businessmen and bankers, as..."
3,1970-08-12,national,overview,The consensus of the reports by the twelve Fed...
4,1970-09-09,national,overview,The reports in this Redbook are more optimisti...
...,...,...,...,...
13520,1995-09-13,minneapolis,Agriculture,"For district farmers, conditions are also bett..."
13521,1995-09-13,minneapolis,Manufacturing,"""Overall our business is good, but not nearly ..."
13522,1995-09-13,minneapolis,Consumer spending,"""Our sales reflect continued solid performance..."
13523,1995-09-13,minneapolis,Tourism,"""I've never seen so many people; this has to b..."
13524,1995-09-13,minneapolis,"Employment, wages and prices","""Firms look high, low for skilled workers"" was..."

In [70]:
df_fin.to_csv("data_beigebook.txt", index = False)

In [616]:
pd.read_csv("data_beigebook.txt")

,time,region,category,text
0,1970-05-20,national,overall,This initial report of economic conditions in ...
1,1970-06-17,national,overall,Comments on economic conditions in the twelve ...
2,1970-07-15,national,overall,"Current comment by businessmen and bankers, as..."
3,1970-08-12,national,overall,The consensus of the reports by the twelve Fed...
4,1970-09-09,national,overall,The reports in this Redbook are more optimisti...
...,...,...,...,...
81,1977-03-09,national,overall,\nThe overall impression that emerges from thi...
82,1977-04-12,national,overall,"The recovery has been solidly reestablished, a..."
83,1977-05-10,national,overall,The firmer tone asserted in last month's REDBO...
84,1977-06-15,national,overall,"The economy continues on a firm upward path, a..."
85,1977-07-13,national,overall,Most districts report continued improvement in...

# Testing below

In [62]:
str_report[1]

'https://www.minneapolisfed.org/beige-book-reports/2021/2021-04-su'

In [57]:
# Testing website
str_report = "https://www.minneapolisfed.org/beige-book-reports/2015/2015-09-su";
html1 = urlopen(str_report).read()
soupified = BeautifulSoup(html1, "html.parser")

In [58]:
txt = soupified.find("div", {"class": "col-sm-12 col-lg-8 offset-lg-1"});
try:
    timeiter = txt.find("strong").get_text().strip();
    if timeiter == '':
        # Case of 2015-09, look for the next string
        timeiter = txt.find("strong").find_next("strong").get_text().strip();
        # save the next step
        txt_body = txt.find_next("strong").find_next("strong");
    else :
        # Proposed string
        txt_body = txt.find_next("strong").find_next("strong");

    # Just in case, remove spaces
    timeiter = timeiter.replace(" ", "");
    #timeiter = datetime.date(datetime.strptime(timeiter, '%B %d, %Y'));
    timeiter = datetime.date(datetime.strptime(timeiter, '%B%d,%Y'));
    
except:
    timeiter = txt.find(["b", "em"]).get_text().strip();
    txt_body = txt.find_next("strong");

    # Just in case, remove spaces
    timeiter = timeiter.replace(" ", "");
    timeiter = datetime.date(datetime.strptime(timeiter, '%B%d,%Y'));
# Update the status
print(timeiter, str_region);

2015-09-02    mark          names
0   -su       national
1   -at        atlanta
2   -bo         boston
3   -ch        chicago
4   -cl      cleveland
5   -da         dallas
6   -kc    kansas city
7   -mi    minneapolis
8   -ny       new york
9   -ph   philadelphia
10  -ri       richmond
11  -sf  san francisco
12  -sl       st louis

In [51]:
txt.find(["b", "em"])

In [18]:

# ROUTE 1: IF THERE IS NO SECTION DEFINED:
if ((txt_body != None) & (len(txt.findAll("strong")) >= 2)):
    # Need to go through each loop 
    iter_temp = 1;
    
    # Need to save the introductory paragraph

    # Point to the next paragraph, after the date indicator
    txt_body = (txt.find_next("strong").find_next("p"))

    
    while (txt_body != None):
        # They are divided in section, put up separate df
        # print(txt_body)
        # Bodty of text - including the title
        #idx_category = txt_body.find("strong").get_text();

        # If error, it means there is an overall summary
        try:
            idx_category = txt_body.find("strong").get_text();
        except:
            idx_category = "overall";
        # From the block, remove the title spec
        ini_txt = txt_body.get_text().replace(idx_category,'');
        # If there are multiple paragraph
        try: 
            while txt_body.find_next("p").find_all("strong") == []:
                txt_body = txt_body.find_next("p");
                ini_txt = ini_txt + " " + txt_body.get_text();
        except:
            end = 1

        ini_txt = ini_txt.replace("\r\n",""); # clean up

        # Create data frame
        data = {"time": [timeiter], "region": [str_region], 
                    "category": [idx_category], "text": [ini_txt]};
        # append dataframe
        if iter_temp == 1:
            df = pd.DataFrame(data);
        else:
            df_temp = pd.DataFrame(data);
            df = df.append(df_temp, ignore_index = True);
        
        # Update the next block
        iter_temp = iter_temp + 1;
        txt_body = txt_body.find_next("p")
else: #if (txt_body == None): 
    # If there is no section defined - put all in one text
    idx_category = "overall"

    # initial text - proposed location
    txt_body = txt.find_next("p").find_next("p").find_next("p"); # where the text starts
    # Start with proposed next text
    ini_txt = txt_body.get_text();
    while txt_body.attrs == {}: # Until reaching the end of the paragraph details
        ini_txt = ini_txt + " " + txt_body.get_text();
        txt_body = txt_body.find_next("p");
    ini_txt = ini_txt.replace("\r\n",""); # Replace
    ini_txt = ini_txt.replace("\n",""); # Replace
    data = {"time": [timeiter], "region": [str_region], 
            "category": [idx_category], "text": [ini_txt]};
    
    # Create DataFrame  
    df = pd.DataFrame(data);

In [16]:
print(txt_body.find("strong"))

None

In [19]:
df

,time,region,category,text
0,1980-09-09,mark names 0 -su national ...,overall,Guarded optimism characterizes most reports th...
1,1980-09-09,mark names 0 -su national ...,Consumer Spending and Inventories,Stronger-than-expected back-to-school soft goo...
2,1980-09-09,mark names 0 -su national ...,Financial and Construction,The dramatic downward movement of interest ra...
3,1980-09-09,mark names 0 -su national ...,Employment and Industry,Although employment rolls were trending downw...
4,1980-09-09,mark names 0 -su national ...,Business Fixed Investment,Several important large projects have been ann...
5,1980-09-09,mark names 0 -su national ...,Agriculture,Income prospects for farmers in the District a...