In [284]:
#pip install beautifulsoup4
from bs4 import BeautifulSoup
from urllib.request import urlopen
import re # regular expression
from datetime import datetime
import pandas as pd 
import os
import time
cwd = os.getcwd(); print(cwd)

c:\Users\justi\Documents\GitHub\Thread-620\src

In [275]:
from dev_functions import text_scrap

### Resources
[Python - BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/#getting-help)

## Summary of Commentary on Current Economic Conditions by Federal Reserve District
### Data sources
- [Federal Reserve - Board Archive](https://www.federalreserve.gov/monetarypolicy/beige-book-archive.htm)
- Archive from the [Federal Reserve Bank of Minneapolis](https://www.minneapolisfed.org/region-and-community/regional-economic-indicators/beige-book-archive)  
    - Archive [List - National Summary](https://www.minneapolisfed.org/region-and-community/regional-economic-indicators/beige-book-archive)

## Database split
Depending on how the format has changed over the years
* 1970 May - 1980 August: No format

# (1) 1970 May - 1980 August

## Start with National Summary

In [631]:
%run dev_functions.py # last error 1980-09

1970-05-20 national
1970-06-17 national
1970-07-15 national
1970-08-12 national
1970-09-09 national
1970-10-14 national
1970-11-11 national
1970-12-09 national
1971-01-12 national
1971-02-03 national
1971-03-09 national
1971-04-06 national
1971-05-05 national
1971-06-02 national
1971-07-21 national
1971-08-18 national
1971-09-15 national
1971-10-13 national
1971-11-10 national
1971-12-08 national
1972-02-09 national
1972-03-15 national
1972-04-12 national
1972-05-17 national
1972-06-14 national
1972-07-18 national
1972-08-09 national
1972-09-13 national
1972-10-11 national
1972-11-14 national
1972-12-19 national
1973-01-10 national
1973-02-07 national
1973-03-14 national
1973-04-11 national
1973-05-09 national
1973-06-13 national
1973-07-11 national
1973-08-10 national
1973-09-12 national
1973-10-10 national
1973-11-14 national
1973-12-12 national
1974-01-16 national
1974-02-13 national
1974-03-13 national
1974-04-10 national
1974-05-15 national
1974-06-12 national
1974-07-10 national
1974-08-14 national
1974-09-05 national
1974-10-09 national
1974-11-13 national
1974-12-11 national
1975-01-15 national
1975-02-12 national
1975-03-12 national
1975-04-09 national
1975-05-14 national
1975-06-11 national
1975-07-09 national
1975-08-13 national
1975-09-10 national
1975-10-21 national
1975-11-12 national
1975-12-10 national
1976-01-14 national
1976-02-11 national
1976-03-10 national
1976-04-14 national
1976-05-12 national
1976-06-16 national
1976-07-14 national
1976-08-11 national
1976-09-15 national
1976-10-13 national
1976-11-10 national
1976-12-15 national
1977-01-13 national
1977-02-09 national
1977-03-09 national
1977-04-12 national
1977-05-10 national
1977-06-15 national
1977-07-13 national
1977-08-10 national
1977-09-14 national
1977-10-11 national
1977-11-09 national
1977-12-14 national
1978-01-11 national
1978-02-21 national
1978-03-15 national
1978-04-12 national
1978-05-10 national
1978-06-14 national
1978-07-12 national
1978-08-09 national
1978-09-13 national
1978-10-11 national
1978-11-15 national
1978-12-13 national
1979-01-31 national
1979-03-14 national
1979-04-11 national
1979-05-16 national
1979-07-05 national
1979-08-07 national
1979-09-12 national
1979-10-10 national
1979-11-14 national
1980-01-29 national
1980-03-11 national
1980-04-15 national
1980-05-14 national
1980-07-01 national
1980-08-05 national
1980-09-09 national
1980-10-14 national
1980-11-12 national
1980-12-10 national
1970-05-20 atlanta
1970-06-17 atlanta
1970-07-15 atlanta
1970-08-12 atlanta
1970-09-09 atlanta
1970-10-14 atlanta
1970-11-11 atlanta
1970-12-09 atlanta
1971-01-12 atlanta
1971-02-03 atlanta
1971-03-09 atlanta
1971-04-06 atlanta
1971-05-05 atlanta
1971-06-02 atlanta
1971-07-21 atlanta
1971-08-18 atlanta
1971-09-15 atlanta
1971-10-13 atlanta
1971-11-10 atlanta
1971-12-08 atlanta
1972-02-09 atlanta
1972-03-15 atlanta
1972-04-12 atlanta
1972-05-17 atlanta
1972-06-14 atlanta
1972-07-18 atlanta
1972-08-09 atlanta
1972-09-13 atlanta
1972-10-11 atlanta
1972-11-14 atlanta
1972-12-19 atlanta
1973-01-10 atlanta
1973-02-07 atlanta
1973-03-14 atlanta
1973-04-11 atlanta
1973-05-09 atlanta
1973-06-13 atlanta
1973-07-11 atlanta
1973-08-10 atlanta
1973-09-12 atlanta
1973-10-10 atlanta
1973-11-14 atlanta
1973-12-12 atlanta
1974-01-16 atlanta
1974-02-13 atlanta
1974-03-13 atlanta
1974-04-10 atlanta
1974-05-15 atlanta
1974-06-12 atlanta
1974-07-10 atlanta
1974-08-14 atlanta
1974-09-05 atlanta
1974-10-09 atlanta
1974-11-13 atlanta
1974-12-11 atlanta
1975-01-15 atlanta
1975-02-12 atlanta
1975-03-12 atlanta
1975-04-09 atlanta
1975-05-14 atlanta
1975-06-11 atlanta
1975-07-09 atlanta
1975-08-13 atlanta
1975-09-10 atlanta
1975-10-21 atlanta
1975-11-12 atlanta
1975-12-10 atlanta
1976-01-14 atlanta
1976-02-11 atlanta
1976-03-10 atlanta
1976-04-14 atlanta
1976-05-12 atlanta
1976-06-16 atlanta
1976-07-14 atlanta
1976-08-11 atlanta
1976-09-15 atlanta
1976-10-13 atlanta
1976-11-10 atlanta
1976-12-15 atlanta
1977-01-13 atlanta
1977-02-09 atlanta
1977-03-09 atlanta
1977-04-12 atlanta
1977-05-10 atlanta
1977-06-15 atlanta
1977-07-13 atlanta
1977-08-10 atlanta
1977-09-14 atlanta
1977-10-11 atlanta
1977-11-09 atlanta
1977-12-14 atlanta
1978-01-11 atlanta
1978-02-21 atlanta
1978-03-15 atlanta
1978-04-12 atlanta
1978-05-10 atlanta
1978-06-14 atlanta
1978-07-12 atlanta
1978-08-09 atlanta
1978-09-13 atlanta
1978-10-11 atlanta
1978-11-15 atlanta
1978-12-13 atlanta
1979-01-31 atlanta
1979-03-14 atlanta
1979-04-11 atlanta
1979-05-16 atlanta
1979-07-05 atlanta
1979-08-07 atlanta
1979-09-12 atlanta
1979-10-10 atlanta
1979-11-14 atlanta
1980-01-29 atlanta
1980-03-11 atlanta
1980-04-15 atlanta
1980-05-14 atlanta
1980-07-01 atlanta
1980-08-05 atlanta
1980-09-09 atlanta
1980-09-09 atlanta

AttributeError: 'NoneType' object has no attribute 'get_text'

In [629]:
len(txt.findAll("strong"))

10

In [627]:
txt.find_next("strong")

In [609]:
df_fin#.iloc[3,3]

,time,region,category,text
0,1970-05-20,national,overall,This initial report of economic conditions in ...
1,1970-06-17,national,overall,Comments on economic conditions in the twelve ...
2,1970-07-15,national,overall,"Current comment by businessmen and bankers, as..."
3,1970-08-12,national,overall,The consensus of the reports by the twelve Fed...
4,1970-09-09,national,overall,The reports in this Redbook are more optimisti...
...,...,...,...,...
81,1977-03-09,national,overall,\nThe overall impression that emerges from thi...
82,1977-04-12,national,overall,"The recovery has been solidly reestablished, a..."
83,1977-05-10,national,overall,The firmer tone asserted in last month's REDBO...
84,1977-06-15,national,overall,"The economy continues on a firm upward path, a..."
85,1977-07-13,national,overall,Most districts report continued improvement in...

In [615]:
df_fin.to_csv("data_beigebook.txt", index = False)

In [616]:
pd.read_csv("data_beigebook.txt")

,time,region,category,text
0,1970-05-20,national,overall,This initial report of economic conditions in ...
1,1970-06-17,national,overall,Comments on economic conditions in the twelve ...
2,1970-07-15,national,overall,"Current comment by businessmen and bankers, as..."
3,1970-08-12,national,overall,The consensus of the reports by the twelve Fed...
4,1970-09-09,national,overall,The reports in this Redbook are more optimisti...
...,...,...,...,...
81,1977-03-09,national,overall,\nThe overall impression that emerges from thi...
82,1977-04-12,national,overall,"The recovery has been solidly reestablished, a..."
83,1977-05-10,national,overall,The firmer tone asserted in last month's REDBO...
84,1977-06-15,national,overall,"The economy continues on a firm upward path, a..."
85,1977-07-13,national,overall,Most districts report continued improvement in...